<%- include('./partials/start') %>

<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
    View source code on <strong><a href="https://github.com/gauravanthwal/nodejs-noteKeeper-v-01" target="_blank" class="text-success"> Github</a></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="index">
    <h3>Welcome to Note Keeper App</h3>
    <a href="/user/register" class="me-3 ms-3">Register</a>
    <a href="/user/login">Login</a>

</div>

<%- include('./partials/end') %>